<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="lead">Swagger-wtforms <em>example</em></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h3>Examples</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ url_for('index') }}">Single form</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ url_for('multiple') }}">All forms from definitions</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                {% block body %}{% endblock %}
                <hr>
                <h3>The spec (<em>{{ file }}</em>)</h3>
                <pre>
                    <code>{{ spec }}</code>
                </pre>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
